<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning 
  <param name="robot_description"
    command="$(find xacro)/xacro.py $(find turtlebot_description)/robots/kobuki_hexagons_kinect.urdf.xacro" />
-->
  <!-- BEGIN ROBOT 1-->
  <group ns="robber">
    <param name="tf_prefix" value="robber" />
	  <include file="$(find finalproject)/scripts/launch/robot.launch" >
        <arg name="init_pose" value="-x 1 -y 0 -z 0" />
		<arg name="robot_name"  value="robber" />
		<arg name="base" value="kobuki"/>
		<arg name="stacks" value="hexagons"/>
		<arg name="3d_sensor" value="kinect"/>	
		<arg name="color" value="red"/>	
	  </include>
	<!-- turtlebot_teleop_key already has its own built in velocity smoother 
    <node pkg="finalproject" type="turtlebot_teleop_key" name="turtlebot_teleop_keyboard" output="screen"> -->
    <node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="turtlebot_teleop_keyboard"  output="screen" launch-prefix="xterm -e"  >
      <param name="scale_linear" value="0.5" type="double"/>
      <param name="scale_linear" value="0.5" type="double"/>
      <param name="scale_angular" value="1.5" type="double"/>
      <remap from="turtlebot_teleop_keyboard/cmd_vel" to="cmd_vel_mux/input/teleop"/>
    </node>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="cop">
    <param name="tf_prefix" value="cop" />
      <include file="$(find finalproject)/scripts/launch/robot.launch" >
        <arg name="init_pose" value="-x 1.5 -y 1 -z 0" />
        <arg name="robot_name"  value="cop" />
        <arg name="base" value="kobuki"/>
        <arg name="stacks" value="hexagons"/>
	    <arg name="3d_sensor" value="kinect"/>	
	    <arg name="color" value="blue"/>
      </include>
	<!-- turtlebot_teleop_key already has its own built in velocity smoother -->
    <node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="turtlebot_teleop_keyboard"  output="screen" launch-prefix="xterm -e" >
      <param name="scale_linear" value="0.5" type="double"/>
      <param name="scale_angular" value="1.5" type="double"/>
      <remap from="turtlebot_teleop_keyboard/cmd_vel" to="cmd_vel_mux/input/teleop"/>
    </node>
  </group>
</launch>
